@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Rubik+Mono+One&display=swap');
/* Reset and basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 2%;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}

/* Typography and spacing */
.header-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1%;
}

.mission-statement {
  text-align: center;
  margin-bottom: 2%;
}

.section-title {
  font-size: 2rem;
  margin-top: 2%;
  margin-bottom: 1%;
}

.instructions {
  margin-bottom: 1%;
}

.list {
  list-style-type: disc;
  padding-left: 2%;
  margin-bottom: 2%;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.8rem;
}

.list-item {
  margin-bottom: 1%;
}

.funding_table {
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 2%;
}

.funding_table th, .funding_table td {
  border: 1px solid #ddd;
  padding: 0.5%;
  text-align: left;
}

.nested_list {
  list-style-type: circle;
  padding-left: 2%;
}
