@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.nevi_section {
    display: grid;
    grid-column: 1;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%; /* Assuming the base width context */
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
}

.section_title {
    font-size: 3rem;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5vh;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1%;
}

.subsection_title {
    font-size: 2rem;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 2%;
    margin-bottom: 1%;
}

.paragraph {
    margin-bottom: 2%;
    font-size: 1.4rem;
}

.paragraph-main {
    margin-bottom: 2%;
    font-size: 1.7rem;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.funding_table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2%;
}

.funding_table th, .funding_table td {
    border: 1px solid #ddd;
    padding: 0.5%;
    text-align: left;
}

.list {
    font-size: 1.7rem;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    list-style-type: disc;
    margin-left: 2%;
}

.nested_list {
    list-style-type: circle;
    margin-left: 2%;
}
