:root {
  --mission-statement-bg-color: #E0F7FA; /* Light cyan for background */
  --mission-statement-border-color: #4CAF50; /* Green for border, representing sustainability */
  --mission-statement-color: #005A9C; /* Deep blue for text color */
  --mission-statement-padding: 20px;
  --mission-statement-hover-shadow: rgba(0, 0, 0, 0.2);
  --transition-speed: 0.3s;
}

.container-battery-program {
  display: flex;
  flex-direction: column;
  justify-content: start; /* Center horizontally in the container */
  align-items: center; /* Center vertically in the container */
  width: 100%;
  height: auto; /* Make the container full height of the viewport */
  margin-bottom: 5vh;
}

.header-med {
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 2.5em;
}

.start-button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height:6vh;
  width: 10%;
  padding-bottom: 1%;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 1.5rem;
  margin-bottom: 2%;
}

.start-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.start-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.start-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.checklist {
    text-align: left;
}

.checklist li {
    font-size: 1.7rem;
}

.solicitation-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally in the container */
    max-width: 100vh;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;

}

.solicitation-container h1,
.solicitation-container h2 {
    color: #333;
}

.solicitation-container p,
.solicitation-container li {
    color: #666;
    line-height: 1.6;
    font-size: 1.5rem;
}

.solicitation-container ul {
    list-style: inside;
}

.intro {
    margin-bottom: 20px;
}

.images-container {
    display: flex;
    justify-content: center; /* Center the images horizontally */
    color: var(--mission-statement-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #121212;
    opacity: 0.95; 
    gap: 3%; /* Optional: Adds space between the images */
    height: auto;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-right: 2%;
    padding-left: 2%;
    margin-top: 5%;
}

.images-container img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 50%; /* Adjust based on desired sizing */
    height: auto; /* Maintain aspect ratio */
}

.info-figure {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    align-items: flex-start;
    gap: 10%;
}

.info-figure figure figcaption {
    font-family: var(--font-family), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.0rem; /* Adapts size using root scale */
    width: 55vh;
    text-align: center;
    margin-top: 5%;
}