@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Rubik+Mono+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.button:active {
  transform: scale(.95);
}

.button {
    background-color: rgb(65, 105, 225); /* Orange background */
    color: rgb(250,240,230);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border-radius: 20px; /* Simplified notation */
    border: 0.3rem solid black;
    font-size: 1.1em;
    font-family: Signpainter;
    touch-action: manipulation;
    font-weight: 600;
    min-width: 25%;
    margin-bottom: 3vh;
    min-height:6vh;
    margin-left: 3%;
    margin-right:3%;
    text-align: center;
    text-transform: uppercase;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    box-shadow: 0 7px 17px rgba(0, 0, 0, 0.4); /* Adds shadow for 3D depth */
    transform: translateZ(0); /* Prepares the button for 3D transformation */
    user-select: none; /* Prevents text selection */
}

.button_container {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 27%;
    margin-right: 27%;
    width: 46%;
}

.list_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2vh;
    list-style-type: none;
}

.list_container li {
    width: 18%;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.6rem;
}

.list {
    font-size: 0.8rem;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    list-style-type: disc;
    margin-left: 2%;
}

.nested_list {
    list-style-type: circle;
    margin-left: 2%;
}

.subsection_title {
    font-size: 1.5rem;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}

.top-statement {
  margin-bottom:2%;
  font-size: 3.6em;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: bold;
  text-align: center;
  width: 90%;
  color: black;
  opacity: 100%;
 text-shadow: 
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff; /* Creates a white border effect */
}


.section-title {
  font-size: 3.5em;
  margin-top: 2%;
  margin-bottom: 1%;
  font-family: "Lilita One", sans-serif;
  font-weight: 00;
  font-style: bold;
}

.top-container {
  background:url(https://i.ibb.co/nLzbpZf/anime-style-neighborhood.webp) no-repeat 0px 0px;
  opacity: 80%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  flex-direction: column;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start; /* Changed from center to flex-start */
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3vh;
  margin-bottom: 2vh;
  height: 35vh;
  border: 8px solid black;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
}


.image-grid {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 33vh;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    margin-top: 5vh;
    margin-bottom: 4vh;
}

.image-grid__item1 {
    display: flex;
    border: 10px solid rgb(112, 128, 144,0.5);
    background-color: rgb(65, 105, 225, 0.4);
    flex-direction: column;
    width: 23%;
    align-content: start;
    justify-content: center;
    height: 100%;
    margin-right: 14px;
    transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
}

.image-grid__item2 {
    display: flex;
    border: 10px solid ghostwhite;
    background-color: rgb(255, 69, 0, 0.6);
    flex-direction: column;
    width: 23%;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    height: 100%;
    margin-right: 14px;
    transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
}
.image-grid__item3 {
    display: flex;
    border: 10px solid rgb(112, 128, 144,0.5);
    background-color: rgb(0, 255, 127, 0.5);
    flex-direction: column;
    width: 23%;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    height: 100%;
    margin-right: 14px;
    transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
}
.image-grid__item4 {
    display: flex;
    border: 10px solid ghostwhite;
    background-color: rgb(0, 0, 0, 0.70);
    flex-direction: column;
    width: 23%;
    align-content: flex-start;
    justify-content: center;
    height: 100%;
    margin-right: 14px;
    transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
}

.image-grid__item:before {
    content: '';
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
    border-radius: 3px;
    box-shadow: 0 10px 24px 0px rgba(0,0,0,0.06), 0 8px 20px -2px rgba(0,0,0,0.10), 0 6px 10px -6px rgba(0,0,0,0.20);
    transition: visibility 0.1s ease-out, opacity 0.1s ease-out;
    opacity: 0;
}

.image-grid__item:hover:before {
    visibility: visible;
    opacity: 1;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: start;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: #03045e;
    padding-top: 4vh;
}

.grid-item__name {
    color: ghostwhite;
    font-size: 2.4em;
    font-weight: 600;
    margin-left: 5%;
    margin-bottom: 15%;
    text-align: center;
    text-decoration: none;
}

.grid-item:hover .grid-item__image {
    transform: scale(1.2);
}

.grid-item:hover .grid-item__hover {
    visibility: visible;
    opacity: 1;
}

.grid-item:hover .grid-item__name {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

.grid-item__image {
    width:70%;
    font-size: 1.8em;
    font-weight: 400;
    background-size: cover;
    margin-left: 15%;
    background-position: center center;
    transform: scale(1);
    color: black;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    text-align: center;
    will-change: transform;
    transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}